# Dependencies
node_modules/

# Build files

build/

# TypeScript
*.tsbuildinfo

# Environment files (IMPORTANT - secrets safe rahenge)
.env
.env.*

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Backend uploads (user data ignore karna sahi hai)
Backend/uploads/